---
  layout: default
  title: Blog | Gregory Durelle
---

<main class="container row">
  <div class="octo-wrapper">
    <div class="octogon grey" style="margin:0;">
      <div class="flex">
        <div class="triangle b r"></div>
        <div class="square t">
          <h1 style="font-size: 2rem;">
            Blog
          </h1>
        </div>
        <div class="triangle b l"></div>
      </div>
      <div class="flex">
        <div class="fullrec">
          <h2 style="font-size: 1rem;text-align: center;">
            Gregory Durelle
          </h2>
        </div>
      </div>
      <div class="flex">
        <div class="triangle t r"></div>
        <div class="square">
          <a href="/" title="Back Home">
            <span class="fas fa-home fa-2x"></span>
          </a>
        </div>
        <div class="triangle t l"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 style="margin-bottom: 0.3em;">
      Article le plus récent
    </h2>
    {% assign last_post = site.posts.first %}
    <div class="text-wrapper">
      <h3>
        <a href="{{ last_post.url }}">
          {{ last_post.title }}
        </a>
      </h3>
      <small class="tags">
        {% for tag in last_post.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </small>
      <small>
        {{ last_post.excerpt }}
      </small>
    </div>
  </div>
</main>

<div class="container">
  <h2 style="margin-bottom: 0;">Tous les articles</h2>
  <ul>
    {% for post in site.posts %}
      <li style="margin-bottom: 0.5em;">
        <h3>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
