---
  layout: default
  title: Gregory Durelle
---

<main class="container">

  <div class="octo-wrapper">

    <div class="octogon grey">
      <div class="flex">
        <div class="triangle b r"></div>
        <div class="square t"></div>
        <div class="triangle b l"></div>
      </div>
      <div class="flex">
        <!-- <div class="square"></div> -->
        <div class="fullrec">
          <h1> {{ page.title }} </h1>
          <a href='/blog' id='bloc-link'>
              Blog
            </a>
        </div>
        <!-- <div class="square"></div> -->
      </div>
      <div class="flex">
        <div class="triangle t r"></div>
        <div class="square"></div>
        <div class="triangle t l"></div>
      </div>
    </div>

    <div class="octogon white">
      <div class="flex">
        <div class="triangle b r"></div>
        <div class="square">
          <a href="https://www.linkedin.com/in/gdurelle/">
            <span class="fab fa-linkedin fa-2x linkedin"></span>
          </a>
        </div>
        <div class="triangle b l"></div>
      </div>
      <div class="flex">
        <div class="square">
          <a href="https://bsky.app/profile/gdurelle.bsky.social">
            <span class="fab fa-square-bluesky fa-2x bluesky">
            </span>
          </a>
        </div>
        <div class="square">
          <h2>
             Social
          </h2>
        </div>
        <div class="square">
          <a href="https://mastodon.xyz/@gdurelle">
            <span class="fab fa-mastodon fa-2x black"></span>
          </a>
        </div>
      </div>
      <div class="flex">
        <div class="triangle t r"></div>
        <div class="square b">
          <a href="https://twitter.com/gdurelle">
            <span class="fab fa-twitter-square fa-2x twitter"></span>
          </a>
        </div>
        <div class="triangle t l"></div>
      </div>
    </div>

    <div class="octogon blue">
      <div class="flex">
        <div class="triangle b r"></div>
        <div class="square t">
          <a href="https://gitlab.com/gdurelle">
            <span class="fab fa-gitlab fa-2x gitlab"></span>
          </a>
        </div>
        <div class="triangle b l"></div>
      </div>
      <div class="flex">
        <div class="square">
          <a href="https://github.com/gdurelle">
            <span class="fab fa-github fa-2x black"></span>
          </a>
        </div>
        <div class="square">
          <h2>
            Tech
          </h2>
        </div>
        <div class="square">
          <a href="https://rubygems.org/profiles/gdurelle">
            <span class="fas fa-gem fa-2x ruby"></span>
          </a>
        </div>
      </div>
      <div class="flex">
        <div class="triangle t r"></div>
        <div class="square">
          <a href="https://stackoverflow.com/users/816534/gdurelle">
            <span class="fab fa-stack-overflow fa-2x gitlab"></span>
          </a>
        </div>
        <div class="triangle t l"></div>
      </div>
    </div>

    <div class="octogon red">
      <div class="flex">
        <div class="triangle b r"></div>
        <div class="square t">
          <!--<a href="https://gitlab.com/gdurelle/kal">
            <h3>
              KAL
            </h3>
            <p>
              Distributed agenda
            </p>
          </a>-->
        </div>
        <div class="triangle b l"></div>
      </div>
      <div class="flex">
        <div class="square"></div>
        <div class="square">
          <h2>
             Projects
          </h2>
        </div>
        <div class="square">
<!--           <a href="https://jaunt.app">
            Jaunt
          </a> -->
        </div>
      </div>
      <div class="flex">
        <div class="triangle t r"></div>
        <div class="square b">
          <a href="./behind-the-scene/" style="margin-top:-20px;">
            <img src="./logo-big-t-256.png" alt="Behind The Scene">
            <h3>Behind the scene</h3>
          </a>
        </div>
        <div class="triangle t l"></div>
      </div>
    </div>

  </div>

</main>
