body{
  font-family: Arial, sans-serif;
}
header{
  text-align: center;
}
main{
  padding: 1em;
}
.flex{
  display: flex;
  gap: 0.5em;
}
.toptext{
  justify-content: start;
}
.flex-center{
  justify-content: center;
}
.box{
  padding: 1em;
  border: 1px solid #BBB;
  background-color: #DEDEDE;
  border-radius: 22px;
}
.button{
  padding: 0.5em;
  border: 1px solid #EEE;
  border-radius: 8px;
  height: 60px;
  display: flex;
  box-shadow: 1px 1px 3px #CCC;
}
.button:hover{
  box-shadow: -1px -1px 1px #CCC;
}
.button img{
  margin: auto;
  max-width: 256px;
  width: 100%;
}
@media screen and (max-width: 400px){
  main{
    padding: 0.2em;
  }
  main, .flex{
    flex-direction: column;
  }
}
