---
  title: Gregory Durelle
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ page.title }}
    </title>

    <!-- <link rel="stylesheet" href="/fontawesome-free-5.12.1-web/css/all.css"> -->
    <link rel="stylesheet" href="/fontawesome-free-6.7.2-web/css/all.css">
    <link rel="stylesheet" href="/assets/css/styles.css">

  </head>
  <body>
    {{ content }}
  </body>
</html>
