---
  title: Gregory Durelle
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {{ page.title }}
    </title>

    <link rel="stylesheet" href="/fontawesome-free-5.12.1-web/css/all.css">
    <link rel="stylesheet" href="/assets/css/styles.css">

  </head>
  <body>
    <div class="post-wrapper text-wrapper">
      <a href="/blog" title="Retour a la liste de tous les articles">
        <span class="fas fa-arrow-left"></span>
      </a>
      <h1> {{ page.title }} </h1>
      <small class="tags">
        {% for tag in page.tags %}
          <div class="tag">{{ tag }}</div>
        {% endfor %}
      </small>
      <br><br>
      {{ content }}
    </div>
  </body>
</html>
